<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boot'N'B</title>
    <link rel="shortcut icon" href="./assets/images/brand/favicon.ico" type="image/x-icon">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/Listingpage.css">
    <!-- Jquery -->
    <script
    src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
</head>

<body>
    <!-- header section starts  -->

    <header>
        <div id="menu-bar" class="fas fa-bars"></div>
  
        <a href="#" class="logo"><span>Ai</span>r<span>bnb</span></a>
  
        <nav class="navbar">
          <a href="#home">home</a>
          <a href="#book">book</a>
          <a href="#packages">packages</a>
          <a href="#services">services</a>
          <a href="#gallery">gallery</a>
          <a href="#review">review</a>
          <a href="#contact">contact</a>
        </nav>
  
        <div class="icons">
          <i class="fas fa-user" id="login-btn"></i>
        </div>
      </header>
  
      <!-- header section ends -->
  
      <!-- login form container  -->
  
      <div class="login-form-container">
        <i class="fas fa-times" id="form-close"></i>
  
        <form action="">
          <h3>login</h3>
          <input type="email" class="box" placeholder="enter your email" />
          <input type="password" class="box" placeholder="enter your password" />
          <input type="submit" value="login now" class="btn" />
          <input type="checkbox" id="remember" />
          <label for="remember">remember me</label>
          <p>forget password? <a href="#">click here</a></p>
          <p>don't have and account? <a href="#">register now</a></p>
        </form>
      </div>

    <main>
        <!-- <div class="container-fluid"> -->
        <div class="row g-0">
            <!-- Housings -->
            <!-- TODO: edit cards + add img slider -->
            <div class="col-md-5 housings p-3">
                <!-- Housings title -->
                <div class="housing-title pb-4">
                    <p>Found 4 houses</p>
                </div>
                <!-- Housings cards -->
                <div class="card mb-3">
                    <!-- <div class="d-flex"> -->
                    <div class="row g-0 align-items-center">
                        <!-- Card Image -->
                        <div class="col-md-4">
                            <img src="./assets/images/housing/housing1_jeanclaude1.webp" class="card-img" alt="...">
                        </div>
                        <!-- End Card Image -->
                        <!-- Card Body -->
                        <div class="card-body col-md-8">
                            <div class="d-flex justify-content-between">
                                <p class="card-text mb-0" id = 'propertyname'><span></span></p>
                            </div>
                            <h6 class="card-title text-uppercase" id = 'propertydescription'>STUDIO COIN CUISINE SDB BORDURE FORET 30 mn...
                            </h6>
                            <hr>
                            <p class="card-text" id="propertyservices">1 voyageur · 1 chambre · 1 lit · 1 salle de bain</p>
                            <p class="card-text">Wifi · Cuisine · Lave-linge · Chauffage</p>
                            <div class="rating d-flex justify-content-between mt-4">
                                <span class="card-text rate"><i class="fa-solid fa-star"></i> <strong>4,70</strong>
                                    <small class="text-muted">(37 commentaires)</small></span>
                                <span><strong class="text-muted sale" id="properyprice">1300€</strong> <strong>828€</strong> /
                                    mois</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Card Body -->
                </div>
                <hr class="card-separation">

                <div class="card mb-3">
                    <!-- <div class="d-flex"> -->
                    <div class="row g-0 align-items-center">
                        <!-- Card Image -->
                        <div class="col-md-4">
                        </div>
                        <!-- End Card Image -->
                        <!-- Card Body -->
                        <div class="card-body col-md-8">
                            <div class="d-flex justify-content-between">
                                <p class="card-text mb-0"><span>Logement entier : logement · Particulier ·
                                        Dammarie-les-Lys</span></p>
                            </div>
                            <h6 class="card-title text-uppercase">STUDIO COIN CUISINE SDB BORDURE FORET 30 mn...
                            </h6>
                            <hr>
                            <p class="card-text">1 voyageur · 1 chambre · 1 lit · 1 salle de bain</p>
                            <p class="card-text">Wifi · Cuisine · Lave-linge · Chauffage</p>
                            <div class="rating d-flex justify-content-between mt-4">
                                <span class="card-text rate"><i class="fa-solid fa-star"></i> <strong>4,70</strong>
                                    <small class="text-muted">(37 commentaires)</small></span>
                                <span><strong class="text-muted sale">1300€</strong> <strong>828€</strong> /
                                    mois</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Card Body -->
                </div>
                <hr class="card-separation">

                <div class="card mb-3">
                    <!-- <div class="d-flex"> -->
                    <div class="row g-0 align-items-center">
                        <!-- Card Image -->
                        <div class="col-md-4">
                            <img src="./assets/images/housing/housing1_jeanclaude1.webp" class="card-img" alt="...">
                        </div>
                        <!-- End Card Image -->
                        <!-- Card Body -->
                        <div class="card-body col-md-8">
                            <div class="d-flex justify-content-between">
                                <p class="card-text mb-0"><span>Logement entier : logement · Particulier ·
                                        Dammarie-les-Lys</span></p>
                            </div>
                            <h6 class="card-title text-uppercase">STUDIO COIN CUISINE SDB BORDURE FORET 30 mn...
                            </h6>
                            <hr>
                            <p class="card-text">1 voyageur · 1 chambre · 1 lit · 1 salle de bain</p>
                            <p class="card-text">Wifi · Cuisine · Lave-linge · Chauffage</p>
                            
                            <div class="rating d-flex justify-content-between mt-4">
                                <span class="card-text rate"><i class="fa-solid fa-star"></i> <strong>4,70</strong>
                                    <small class="text-muted">(37 commentaires)</small></span>
                                <span><strong class="text-muted sale">1300€</strong> <strong>828€</strong> /
                                    mois</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Card Body -->
                </div>
                <hr class="card-separation">

                <div class="card mb-3">
                    <!-- <div class="d-flex"> -->
                    <div class="row g-0 align-items-center">
                        <!-- Card Image -->
                        <div class="col-md-4">
                            <img src="./assets/images/housing/housing1_jeanclaude1.webp" class="card-img" alt="...">
                        </div>
                        <!-- End Card Image -->
                        <!-- Card Body -->
                        <div class="card-body col-md-8">
                            <div class="d-flex justify-content-between">
                                <p class="card-text mb-0"><span>Logement entier : logement · Particulier ·
                                        Dammarie-les-Lys</span></p>    
                            </div>
                            <h6 class="card-title text-uppercase">STUDIO COIN CUISINE SDB BORDURE FORET 30 mn...
                            </h6>
                            <hr>
                            <p class="card-text">1 voyageur · 1 chambre · 1 lit · 1 salle de bain</p>
                            <p class="card-text">Wifi · Cuisine · Lave-linge · Chauffage</p>
                            <div class="categ">
                            </div>
                            <div class="rating d-flex justify-content-between mt-4">
                                <span class="card-text rate"><i class="fa-solid fa-star"></i> <strong>4,70</strong>
                                    <small class="text-muted">(37 commentaires)</small></span>
                                <span><strong class="text-muted sale">1300€</strong> <strong>828€</strong> /
                                    mois</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Card Body -->
                </div>
                
                <hr class="card-separation">
                <!-- End Housing cards -->

                <!-- TODO: Add flexible dates carousel -->
            </div>
            <!-- End Housings -->
            <!-- Map -->
            <div class="map col-md-7" id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4hnFSHqZSOT6C0vQqjPbCR1zvrgb-YlQ"></script>
            <!-- End Map -->

        </div>

    </main>

   <!-- footer section  -->

   <section class="footer">
    <div class="box-container">
      <div class="box">
        <h3>about us</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          quas magni pariatur est accusantium voluptas enim nemo facilis sit
          debitis.
        </p>
      </div>
      <div class="box">
        <h3>branch locations</h3>
        <a href="#">india</a>
        <a href="#">USA</a>
        <a href="#">japan</a>
        <a href="#">france</a>
      </div>
      <div class="box">
        <h3>quick links</h3>
        <a href="#">home</a>
        <a href="#">book</a>
        <a href="#">packages</a>
        <a href="#">services</a>
        <a href="#">gallery</a>
        <a href="#">review</a>
        <a href="#">contact</a>
      </div>
      <div class="box">
        <h3>follow us</h3>
        <a href="#">facebook</a>
        <a href="#">instagram</a>
        <a href="#">twitter</a>
        <a href="#">linkedin</a>
      </div>
    </div>
  </section>

    <!-- Bootstrap bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="assets/js/listingpage.js"></script>
</body>
</html>