<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb-payment</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('include/_top_bar') %>

    <div class="containers">
      <form action="">
        <div class="rowes">
          <div class="coles">
            <h3 class="titles">billing address</h3>

            <div class="inputBoxes">
              <span>Full name :</span>
              <input type="text" placeholder="Shon Deo" />
            </div>

            <div class="inputBoxes">
              <span>Email :</span>
              <input type="text" placeholder="example@gmail.com" />
            </div>

            <div class="inputBoxes">
              <span>Address :</span>
              <input
                type="text"
                placeholder="Street - House number - Apartment number "
              />
            </div>

            <div class="inputBoxes">
              <span>City :</span>
              <input type="text" placeholder="Tel aviv" />
            </div>

            <div class="flex">
              <div class="inputBoxes">
                <span>State :</span>
                <input type="text" placeholder="Israel" />
              </div>
              <div class="inputBoxes">
                <span>Zip code :</span>
                <input type="text" placeholder="123 456" />
              </div>
            </div>

            <div>
              <div class="inputBoxes">
                <span>Total price: per day * number of nights= </span>
              </div>
            </div>
          </div>

          <div class="coles">
            <h3 class="titles">Payment</h3>

            <div class="inputBoxes">
              <span>Card accepted :</span>
              <img src="images/card_img (1).png" alt="" />
            </div>

            <div class="inputBoxes">
              <span>Name on card :</span>
              <input type="text" placeholder="Shon Deo" />
            </div>

            <div class="inputBoxes">
              <span>Credit card nuimber :</span>
              <input type="number" placeholder="0000-1111-2222-3333 " />
            </div>

            <div class="inputBoxes">
              <span>Exp mount :</span>
              <input type="text" placeholder="October " />
            </div>
            <div class="flex">
              <div class="inputBoxes">
                <span>Exp year :</span>
                <input type="number" placeholder="2025" />
              </div>
              <div class="inputBoxes">
                <span>CVV :</span>
                <input type="text" placeholder="123" />
              </div>
            </div>
          </div>
        </div>

        <input type="submit" value="procced to checkout" class="sumbit-btns" />
      </form>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <!-- custom js file link -->
    <script src="common.js"></script>
  </body>
</html>
