<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>About us</h3>
      <p>
        A booking platform for small hotels and B&Bs. We are a small team of passionate travelers and hoteliers.
        We are based in Israel
    </div>
    <div class="box">
      <h3>branch locations</h3>
      <a href="#">india</a>
      <a href="#">USA</a>
      <a href="#">japan</a>
      <a href="#">france</a>
    </div>
    <div class="box">
      <h3>quick links</h3>
      <a href="#">home</a>
      <a href="#">book</a>
    </div>
    <div class="box">
      <h3>follow us</h3>
      <a href="#">facebook</a>
      <a href="#">instagram</a>
      <a href="#">twitter</a>
      <a href="#">linkedin</a>
    </div>
  </div>
</section>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
