<div class="popup-overlay" data-role="popup" id="house-details">
  <div class="house-details">
    <div class="houses-title">
      <h1 id="property-name"></h1>
      <div class="rows">
        <div>
          <h5 id="property-rating"></h5>
        </div>
        <div>
          <p id="property-address"></p>
        </div>
      </div>
    </div>
    <div class="gallerys">
      <div class="gallerys-img-1" id="property-img"></div>
    </div>
    <div class="smalls-details">
      <h4 id="property-daily_price"></h4>
    </div>
    <hr class="lines" />
    <form action="./order.html" class="check-forms">
      <div>
        <label>Check-in</label>
        <input type="text" placeholder="Add Date" />
      </div>
      <div>
        <label>Check-out</label>
        <input type="text" placeholder="Add Date" />
      </div>
      <div class="guest-field">
        <label>Guest</label>
        <input type="text" placeholder="2 guest" />
      </div>
      <button type="submit">Order</button>
    </form>

    <h4>Property Description</h4>
    <h2 id="property-description"></h2>
    <hr class="lines" />
    <div id="map"></div>
    <hr class="lines" />
    <a href="#" class="contact-host">Contact Host</a>
    <hr class="lines" />
  </div>
</div>
