<div class="popup-overlay" data-role="popup" id="house-details">
  <div class="house-details">
    <div class="houses-title">
      <h1 id="property-name"></h1>
      <div class="rows">
        <div>
          <h5 id="rating">Property rating .</h5>
        </div>
        <div>
          <p id="location"></p>
        </div>
      </div>
    </div>
    <!-- Pictures just for example -->
    <div class="gallerys">
      <div class="gallerys-img-1" id="property-img"></div>
    </div>
    <div class="smalls-details">
      <!-- put here name  -->
      <p>2 guest &nbsp; &nbsp; 2 beds &nbsp; &nbsp; 1 bathroom</p>
      <h4>$ 100 / day</h4>
    </div>
    <hr class="lines" />
    <form action="./order.html" class="check-forms">
      <div>
        <label>Check-in</label>
        <input type="text" placeholder="Add Date" />
      </div>
      <div>
        <label>Check-out</label>
        <input type="text" placeholder="Add Date" />
      </div>
      <div class="guest-field">
        <!-- need to change number of guest  -->
        <label>Guest</label>
        <input type="text" placeholder="2 guest" />
      </div>
      <button type="submit">Order</button>
    </form>

    <ul class="details-list">
      <li>
        Entire home
        <span>You will have the entire flat for you.</span>
      </li>
      <li>
        Great Location
        <span>90% of recent guests have the location a 5 star reting.</span>
      </li>
      <li>
        Great check-in experience
        <span>100% of recent guests have the check-in a 5 star reting.</span>
      </li>
    </ul>
    <hr class="lines" />
    <!-- google maps  -->
    <div id="map"></div>
    <hr class="lines" />

    <div class="host">
      <!-- <img src="images/pic4.png" /> -->
      <div>
        <h2>Hosted by _______</h2>
        <p>
          <span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="fas fa-star-half-alt"></i> </span
          >&nbsp; &nbsp; 245 reviews &nbsp; &nbsp; Response rate 100% &nbsp;
          &nbsp;
        </p>
      </div>
    </div>
    <a href="#" class="contact-host">Contact Host</a>
    <hr class="lines" />
  </div>
</div>
