<header>
  <a href="#" class="logo"><span>Ai</span>r<span>bnb</span></a>

  <nav class="navbar">
    <a href="#home">home</a>
    <a href="#book">book</a>
    <a href="#packages">packages</a>
    <a href="#services">services</a>
    <a href="#gallery">gallery</a>
    <a href="#review">review</a>
    <a href="#contact">contact</a>
  </nav>

  <div class="icons">
    <i class="fas fa-user" id="login-btn"></i>
  </div>
</header>

<div class="login-form-container">
  <i class="fas fa-times" id="form-close"></i>

  <form action="">
    <h3>login</h3>
    <input type="email" class="box" placeholder="enter your email" />
    <input type="password" class="box" placeholder="enter your password" />
    <input type="submit" value="login now" class="btn" />
    <input type="checkbox" id="remember" />
    <label for="remember">remember me</label>
    <p>forget password? <a href="#">click here</a></p>
    <p>don't have and account? <a href="#">register now</a></p>
  </form>
</div>
