<div class="popup-overlay">
  <div class="houses-details">
    <div class="houses-title">
      <h1>Put the name of an apartment here</h1>
      <div class="rows">
        <div>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
          <span>put number of reviews</span>
        </div>
        <div>
          <p>Location: pust country and city</p>
        </div>
      </div>
    </div>
    <!-- Pictures just for example -->
    <div class="gallerys">
      <div class="gallerys-img-1"><img src="images/1.webp" /></div>
      <div><img src="images/2.webp" /></div>
      <div><img src="images/3.webp" /></div>
      <div><img src="images/2.webp" /></div>
      <div><img src="images/3.webp" /></div>
    </div>
    <div class="smalls-details">
      <!-- put here name  -->
      <h2>Entire rental unit hosted by _______</h2>
      <p>2 guest &nbsp; &nbsp; 2 beds &nbsp; &nbsp; 1 bathroom</p>
      <h4>$ 100 / day</h4>
    </div>
    <hr class="lines" />
    <form action="./order.html" class="check-forms">
      <div>
        <label>Check-in</label>
        <input type="text" placeholder="Add Date" />
      </div>
      <div>
        <label>Check-out</label>
        <input type="text" placeholder="Add Date" />
      </div>
      <div class="guest-field">
        <!-- need to change number of guest  -->
        <label>Guest</label>
        <input type="text" placeholder="2 guest" />
      </div>
      <button type="submit">Order</button>
    </form>

    <ul class="details-list">
      <li>
        Entire home
        <span>You will have the entire flat for you.</span>
      </li>
      <li>
        Great Location
        <span>90% of recent guests have the location a 5 star reting.</span>
      </li>
      <li>
        Great check-in experience
        <span>100% of recent guests have the check-in a 5 star reting.</span>
      </li>
    </ul>
    <hr class="lines" />
    <!-- google maps  -->
    <div id="map"></div>
    <hr class="lines" />

    <div class="host">
      <img src="images/pic4.png" />
      <div>
        <h2>Hosted by _______</h2>
        <p>
          <span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="fas fa-star-half-alt"></i> </span
          >&nbsp; &nbsp; 245 reviews &nbsp; &nbsp; Response rate 100% &nbsp;
          &nbsp;
        </p>
      </div>
    </div>
    <a href="#" class="contact-host">Contact Host</a>
    <hr class="lines" />
  </div>
</div>
ust country and city</p>
      </div>
    </div>
  </div>
  <!-- Pictures just for example -->
  <div class="gallerys">
    <div class="gallerys-img-1"><img src="images/1.webp" /></div>
    <div><img src="images/2.webp" /></div>
    <div><img src="images/3.webp" /></div>
    <div><img src="images/2.webp" /></div>
    <div><img src="images/3.webp" /></div>
  </div>
  <div class="smalls-details">
    <!-- put here name  -->
    <h2>Entire rental unit hosted by _______</h2>
    <p>2 guest &nbsp; &nbsp; 2 beds &nbsp; &nbsp; 1 bathroom</p>
    <h4>$ 100 / day</h4>
  </div>
  <hr class="lines" />
  <form action="./order.html" class="check-forms">
    <div>
      <label>Check-in</label>
      <input type="text" placeholder="Add Date" />
    </div>
    <div>
      <label>Check-out</label>
      <input type="text" placeholder="Add Date" />
    </div>
    <div class="guest-field">
      <!-- need to change number of guest  -->
      <label>Guest</label>
      <input type="text" placeholder="2 guest" />
    </div>
    <button type="submit">Order</button>
  </form>

  <ul class="details-list">
    <li>
      Entire home
      <span>You will have the entire flat for you.</span>
    </li>
    <li>
      Great Location
      <span>90% of recent guests have the location a 5 star reting.</span>
    </li>
    <li>
      Great check-in experience
      <span>100% of recent guests have the check-in a 5 star reting.</span>
    </li>
  </ul>
  <hr class="lines" />
  <!-- google maps  -->
  <div id="map"></div>
  <hr class="lines" />

  <div class="host">
    <img src="images/pic4.png" />
    <div>
      <h2>Hosted by _______</h2>
      <p>
        <span>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="fas fa-star-half-alt"></i> </span
        >&nbsp; &nbsp; 245 reviews &nbsp; &nbsp; Response rate 100% &nbsp;
        &nbsp;
      </p>
    </div>
  </div>
  <a href="#" class="contact-host">Contact Host</a>
  <hr class="lines" />
</div>